@CHARSET "ISO-8859-1";
span {color: red;}
body {margin-top: 1%; background: url("Nukeit.jpg") no-repeat center fixed; background-width: 100%; background-size: 75%; font-size: medium; color: lime;}
